---
layout: layouts/base.njk
title: Proposed meetups
---


<h2>Private: submitted proposals</h2>

A list of the submissions.

<ul>
{% for item in proposals %}
  {% include "proposal-details.njk" %}
{% endfor %}
</ul>


