.navigation {
    list-style-type: none;


    li {
        margin-right: 10px;

        display: inline-block;
        vertical-align: middle;


        &:last-child {
            margin-right: 0;
        }
    }
}