---
layout: layouts/base.njk
title: Propose a meetup
---

<h2>Submit suggestions</h2>

<p>Use this form to submit a suggestion for a meetup.</p>

<form name="suggest-meetup" netlify-honeypot="full-name" action="/thanks" netlify>
  <p class="honey">
    <label>Your full name: <input name="full-name"></label>
  </p>
  <p>
    <label for="email">Your email</label>
    <input type="text" name="name" id="email">
  </p>
  <p>
    <label for="location">Suggested location</label>
    <input type="text" name="location" id="location">
  </p>
  <p>
    <label for="comments">Comments</label>
    <textarea name="comments" id="comments"></textarea>
  </p>
  <p>
    <button type="submit" class="btn">Suggest a meetup</button>
  </p>
</form>


